.blog-container {
    width: 70%;
    margin: auto;
    margin-bottom: 0.5rem;
}

.blog-container-one {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.3rem;
    padding: 0.7rem;
    margin-top: 0.4rem;
}

.blog-container h1 {
    font-size: 1.5rem;
    color: rgb(23, 155, 169);
    line-height: 1;
}

.blog-container h2 {
    font-size: 1.3rem;
    line-height: 1;
}

.blog-container h3 {
    font-size: 1.2rem;
    line-height: 0.8;
}

.blog-container li {
    line-height: 1.8;
}

.blog-container p {
    line-height: 1.7;
}

.img-flex {
    display: flex;
    max-width: 100%;
    align-items: center;
}



.new-comment-btn {
    background-color: inherit;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: rgb(101, 99, 99);
    padding: 0.4rem 1.5rem;
    margin: 0.5rem 0;
    border-radius: 0.2rem;
    font-size: 1rem;
    text-decoration: none;
    border: none;
}

.new-comment-btn:hover {
    background-color: #f3f3f3;
}

.blog-summary-container {
    display: flex;
}

.highlight {
    background-color: bisque;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

@media screen and (max-width: 768px) {
    .blog-container {
        width: 97%;
    }

    .blog-summary-container {
        flex-direction: column;
    }

    .img-flex {
        flex-direction: column;
    }

    .img-flex img {
        max-width: 90%;
    }

}