.test-container {
    width: 70%;
    margin: auto;
}

.link-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    column-count: 3;
}

.link-container a {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #4CAF50;
    color: white;
    padding: 0.4rem 1.5rem;
    border-radius: 0.2rem;
    text-decoration: none;
    border: none;
}

.link-container a:hover {
    background-color: #45a049;
}

.unticked {
    color: black;
}

.ticked {
    color: blueviolet;
    font-weight: bold;
}

/* input[type="radio"] {
    visibility: hidden;
} */

input[type="radio"]:checked+label {
    color: blueviolet;
    font-weight: bold;
}

.btn-test {
    background-color: #4CAF50;
    border: none;
    border-radius: 0.5rem;
    color: rgb(251, 247, 247);
    padding: 0.8rem 2rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.btn-test:hover {
    background-color: #2ca036;
}

.correctAnswer {
    color: green;
    font-weight: bold;
}

.result {
    text-align: center;
    background-color: #dfe8df;
    border: none;
    padding: 0.5rem;
}



@media screen and (max-width: 768px) {
    .test-container {
        width: 97%;
    }
}