.calc-container {

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem;
    display: flex;
    justify-content: space-around;

}

.result-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem;

}


.params {
    display: flex;
    flex-direction: column;
    text-align: right;
    row-gap: 0.5rem;
}

.param-label {
    text-align: left;
    text-decoration: underline;
}

.params input {
    text-align: center;
}


.input-number {
    width: 4rem;
    height: 1.5rem;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    text-align: center;
}

.dropdown-input {
    width: auto;
    padding: 0.1rem;
    margin: 0 0.3rem;
}

.chart {
    height: 500px;
    width: 500px;
    display: 'flex';
    flex-direction: column;
    align-items: center;
    text-align: center;

}


@media screen and (max-width: 768px) {
    .calc-container {
        flex-direction: column;
    }

    .params {
        margin-right: auto;
    }

    .chart {
        width: 100%;
    }
}