.homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: black;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(220, 226, 225), rgb(244, 244, 244));
    min-height: 80vh;
}

.home-link {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    transform: translateX(-40%)
}

.home-link a {
    text-decoration: none;
    transform: translateX(50%);
}


.focusText {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px #999;
    line-height: 1.2;
}

.ext-link {
    padding: 0.3rem 0.5rem;
    background-color: rgb(47, 141, 130);
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-decoration: none;
    border-radius: 0.2rem;
}

.ext-link2 {

    padding: 0.4rem 0.8rem;
    border-radius: 0.1rem;
}

.ext-link:hover {
    background-color: rgb(34, 100, 92);
}