body {
    margin: 0;
    padding: 0;
}

.mcq {
    border-radius: 0.5rem;
    width: 70%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: auto;
    padding: 1rem;
    margin-bottom: 0.3rem;
}

.option {
    margin-left: 30px;
    cursor: pointer;
}

#correctAnswer {
    color: green;
    font-weight: bolder;
}

#wrongAnswer {
    color: red;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .mcq {
        width: 90%;
    }
}