.mcq {
    border-radius: 1rem;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.option {
    margin-left: 30px;
    cursor: pointer;
}

.correctAnswer {
    color: green;
    font-weight: bolder;
}

.wrongAnswer {
    color: red;
}