.unticked {
    color: black
}

.ticked {
    color: blueviolet;
    font-weight: bold;
}

/* input[type="radio"] {
    visibility: hidden;
} */

input[type="radio"]:checked+label {
    color: blueviolet;
    font-weight: bold;
}

button {
    background-color: #4CAF50;

    border: none;
    border-radius: 0.5rem;
    color: rgb(251, 247, 247);
    padding: 10px 20px;
    text-align: center;


    font-size: 1.2rem;

    cursor: pointer;
}

button:hover {
    background-color: #236725;
}

.correctAnswer {
    color: green;
    font-weight: bold;
}

.result {
    text-align: center;
    background-color: #dfe8df;
    border: none;
    padding: 0.5rem;
}

.submitLower {
    display: block;
    margin: auto;
}

.testInfo {
    text-align: center;
    margin-top: 1rem;
    line-height: 2rem;
}