.siteInfo {
    text-align: center;
}

.mainNav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    background-color: #f3f3f3;
    align-items: center;
    justify-content: space-around;
    padding-right: 1rem;
}

.topNav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.topNav a,
.link-copy {
    display: flex;
    color: #666;
    text-align: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
}

.topNav a:hover:not(.active) {
    background-color: #ddd;
}

.topNav a.active {
    color: blueviolet;
}

.icon {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;

    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    padding: 0.7rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.drop-icon {
    color: #04AA6D;
    transform: translateY(2px);

}

.logo {
    color: rgb(5, 143, 223);
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px #1674df;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.logo span {
    color: #17a7b7;
}


@media screen and (max-width: 600px) {
    .mainNav {
        justify-content: space-between;
    }

    .topNav a {
        display: none;
    }

    .icon {
        float: right;
        display: block;
    }

    .drop-icon {
        display: none;
    }

    .link-copy {
        display: none;
    }

    .logo {
        margin-left: 0.5rem;
    }

}

@media screen and (max-width: 600px) {
    .topNav.responsive {
        display: flex;
        flex-direction: column;
    }

    .topNav.responsive a {
        float: none;
        display: block;

        text-align: right;
        padding-left: 2rem;
    }

    .topNav.responsive .dropdown-content a {
        display: flex;
        text-align: left;
    }

    .topNav.responsive .drop-icon {
        display: inline-block;
    }

    .topNav.responsive .link-copy {
        display: flex;
        transform: translateX(0.5rem);
    }

    .topNav.responsive .logo {
        display: none;
    }
}