body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif; */
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #514f4f;
}

p {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.page-container {
  width: 70%;
  margin: auto;
}

.page-new {
  line-height: 1.6rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;

  background-color: black;
  color: #a9f5f4;
  text-align: center;
  border-radius: 6px;
  padding: 0.2rem 1rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.share-button {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  margin-top: 0.5rem;


}

@media screen and (max-width: 768px) {
  .page-container {
    width: 97%;
  }
}